.nhal-bg {
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    140deg,
    var(--nhal-bg-pattern),
    var(--nhal-bg-pattern) 1px,
    transparent 1px,
    transparent 6px
  );
}
